.navBar {
  width: 20%;
  height: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.gameRecommendation {
  font-size: 24px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}