.blackscreen{
  background-color: white;
  opacity: 90%;
  filter: brightness(0.2);
  position: absolute;
  z-index: 4;
  height: 100vh;
  width: 100vw;
  top: 0;
}

.PopUpLogin{
  position: absolute;
  width: 450px;
  height: 600px;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -225px;

  background-color: white;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 5;
  border: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 10px;
  header {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  form {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    input {
      border-color: black;
      border-radius: 3px;
      width: 300px;
      height: 30px;
      margin: 8px;
      &:hover {
        filter: brightness(0.8);
        cursor: text;
      }
    }

    button {
      background-color: black;
      border-color: black;
      border-width: 3px;
      border-radius: 10px;
      color: white;
      width: 300px;
      height: 45px;
      margin: 8px;
      margin-left: 10px;
      &:hover {
        filter: brightness(0.8);
        cursor: pointer;
      }
    }

  }
  .hyperlinks {
    h1 {
      margin-top: 10px;
    }
    a {
      color: blue;
      text-underline-position: under;
      &:hover {
        cursor: pointer;
      }
    }
    u {
      color: blue;
      font-weight: bold;
      text-underline-position: under;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.PopUpGame {
  position: absolute;
  display: grid;
  z-index: 5;
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center;

  .vgipuData {
    .title {
      font-size: 48px;
    }
  }
  .vgipuScreenshotContainer {
    .vgipuScreenshots {
      display: flex
      
    }
  }

}