.navBar {
  width: 15vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  > :first-child{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90%;
  }

  .navButtonContainer {
    width: 100%;
    margin-top: 20px;
    
    button {
      background-color: white;
      border: none;
      margin-top: 5px;
      height: 8vh;
      width: 10vw;
      border-radius: 10px;

      &:hover{
        filter: brightness(0.8);
        cursor: pointer;
      }
    }
  }
}

.title { 
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navButtonContainer {
  align-items: center;
  justify-content: center;
}

.navProfile {
  width: 100%;
  display: flex;
  border-radius: 10px;
  justify-content: center;

  button {
    width: 100%;
    border: none;
    background-color: lightgray;
    border-radius: 10px;
    height: 50px;

    &:hover{
      filter: brightness(0.8);
      cursor: pointer;
    }
  }
}