.saveScreenTitle {
  font-size: 24px;
}

.saveScreen {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: antiquewhite;
}

.savedGameList {
  border-radius: 8px;
  display: grid;
  align-items: center;
  background-color: pink;
}

.savedGamesItem {
  display: block;
  margin: 10px;
  background-color: blue;
}

.savedGamesItem img {
  height: 18vh;
  width: 24vw;
}