.searchBar {
  height: 8vh;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  .searchTitle {
    width: 30vw;
    height: 45px;
  }

  .searchButton {
    margin-top: 10px;
    margin-left: 25px;
    width: 60px;
    height: 50px;
  }
}