.videoGame {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
  overflow: scroll;
  align-items: center;
  justify-content: center;

  .videoGameItem {

    &:hover {
      filter: brightness(0.8);
      cursor: pointer;
    }
    
    padding: 4px;
    margin: 10px 5px;
    background-color: blue;

    img{
      height: 10vh;
      width: 20vh;
      object-fit: cover;
    }
  }
}

.screenshot {
  height: 10px;
  width: 10px;
}