.videoGames {
  display: flex;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 124px;
  white-space:nowrap;
  margin-bottom: 20px !important;
  width: 60vw;

  .videoGameItem {
    width: 100%;
    background-color: #333;
    &:hover {
      filter: brightness(0.8);
      cursor: pointer;
    }
    img{
      cursor: pointer;
      display:inline-block;
      vertical-align:top;
      height: 100px;
      width: 200px;
      border-color: lightblue;
      border-width: 2px;
      padding: 2px;
    }
    
  }
}

.screenshot {
  img {
    cursor: pointer;
    display:inline-block;
    vertical-align:top;
    height: 100px;
    width: 200px;
    border-color: lightblue;
    border-width: 2px;
    padding: 2px;
  }
}
.Game {
  margin-top: 10px;
  margin-left: 10px;
  position: relative;
  display: grid;
  background-color: white;
  font-family: 'Trebuchet MS';
  .layer1 {
    display: flex;
    .vgipuCoverImg {
      // In case
    }
    .vgipuData {
      margin-left: 10px;
      .title {
        font-size: 48px;
      }
      .metadata {
        margin-top: 5px;
      }
    }
  }
  .vgipuScreenshotContainer {
    margin-top: 10px;
    .vgipuScreenshots {
      margin-top: 10px;
      display: flex;
      position: relative;
      overflow-x: scroll;
      overflow-y: hidden;
      height: 124px;
      white-space: nowrap;
      margin-bottom: 20px !important;
      width: 75vw;
    }
  }

}